.ui-draggable .ui-dialog-titlebar { cursor: move; height : 15px; }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 10px .1em 0; font-size : 12px; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
